{% extends "index.html" %}

{% load crispy_forms_tags %}
{% block content %}
	{% if madeid != 0 %}
	<div class="alert alert-success">Succesfully {{ succmessage }}, id {{ madeid }}</div>
	{% endif %}
	<style>
	@media (min-width: 768px){
		form{
			padding-left:10%;
			padding-right:10%;
			padding-top:5%;
		}
	}
	</style>
	<h1>{{ title }}</h1>
	<form action="{{ action_url}}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form|crispy }}
		<input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">
	</form>
{% endblock %}
