{% extends "list.html" %}

{% block extramenublock %}
<div class="row">
<a class="btn btn-success btn-md col-md-2 col-sm-12" href="{% url 'additem' %}"><i class="fa fa-plus-circle"></i>  Add item</a>
<a class="btn btn-primary btn-md col-md-3 col-sm-12" href="{% url 'category' %}"><i class="fa fa-tags"></i>  Manage Categorie</a>
</div>
<br>
{% endblock%}

{% block headersblock %}
<th>ID</th>
<th>Category</th>
<th>Name</th>
<th>Bought Price</th>
<th>Added cost</th>
<th class="hidephone">Bought Date</th>
<th>Suggested Sell Price</th>
<th>Options</th>
{% endblock %}

{% block bodyblock %}
{% for i in items %}
<tr>
<td>{{ i.id }}</td>
<td>{{ i.category }}</td>
<td>{{ i.name }}</td>
<td>{{ i.boughtprice }}</td>
<td>{{ i.CalculateAddedCost }}</td>
<td class="hidephone">{{ i.boughtdate }}</td>
<td>{{ i.CalculateSuggestedSalesPrice }}</td>
<td>
<a href="{% url 'sellitem' i.id %}" class="btn btn-danger btn-sm">Sell</a>
<a href="{% url 'viewitem' i.id %}" class="btn btn-info btn-sm" >info</a>
</td>
</tr>
{% endfor %}

{% endblock%}
